In [7]:
print("Twinkle,Twinkle,little Star")
print("\t\tHow I wonder what you are!")
print("\t\t\tUp above the world so High,")
print("\t\t\tLike a diamond in the sky")
print("Twinkle,Twinkle,little Star,")
print("\t\tHow I wonder what you are!")

Twinkle,Twinkle,little Star
		How I wonder what you are!
			Up above the world so High,
			Like a diamond in the sky
Twinkle,Twinkle,little Star,
		How I wonder what you are!

In [10]:
import sys
print(sys.version)

3.7.12 (default, Sep 10 2021, 00:21:48)
[GCC 7.5.0]

In [14]:
from datetime import date
today = date.today()
print("Today's date:", today)

Today's date: 2022-01-01

In [15]:
from datetime import datetime

now = datetime.now()
 
print("Time  now", now)

Time  now 2022-01-01 06:21:05.753896

In [17]:
PI=3.142
user_input = float(input("Enter radius for the circle  :"))
x=PI*user_input*user_input
print("Area of circle is :", x)

Enter radius for the circle  :3
Area of circle is : 28.278

In [18]:

first_name = input("Enter your first name  :")
last_name = input("Enter your last name  :")
fullname=last_name+" "+first_name
print("NAME IN REVERSE IS :", fullname)

Enter your first name  :Ali
Enter your last name  :Zia Khan
NAME IN REVERSE IS : Zia Khan Ali

In [26]:
user_input_1 = float(input("Enter first number  :"))
user_input_2 = float(input("Enter second number  :"))
add=user_input_1 + user_input_2
print("Addition of user inputted number is ",add)

Enter first number  :5
Enter second number  :3
Addition of user inputted number is  8.0